header{
    width: 100vw;
    height:20vh;
    text-align: center;
}
.aside{
    height: 100vh;
    width:25vw;
    display: inline-block;
    float: left;
}
.container{
    display: inline-block;
    width: 70vw;
    float: right;

}
.card{
    display: inline-block;
    width: 225px;
    height: 225px;
    background-image: url(images/card-back.jpg);
    background-size: 280px 240px;
    margin-top: 10px;
    border-radius: 25px;
}
