
body{
    background-image: url(images/stadium2.jpg);
    background-size: cover;
    width: 1490px;
    background-repeat: no-repeat;
}
header{
    #border: dashed black 1px;
    width: 100%;
    height:27vh;
    display: inline-block;
    position: relative;
    text-align: center;

}
h1{
    text-align: center;
}
header div{
    display: inline-block;
    text-align: center;
}
header h1{
    font-family: 'Faster One', cursive;
}
header div h2{
    font-family: 'Faster One', cursive;
}
.label{
    color: black;
}
/*.aside{*/
    /*height: 100vh;*/
    /*width:20vw;*/
    /*display: inline-block;*/
    /*float: left;*/
/*}*/
.gameArea{
    display: inline-block;
    width: 85vw;
    *float: right;
    position: relative;

}
.cardHolder{
    width: 210px;
    height: 160px;
    margin: 15px;
    position: relative;
    perspective: 800px;
    float: left;
}
.card{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: prop 1s;
    -moz-transition: prop 1s;
    -ms-transition: prop 1s;
    -o-transition: prop 1s;
    transition: 1s;
}
.back{
    opacity: .4;
}
.front{
    position: absolute;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

}
.card{
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}
.card img{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;;
    #backface-visibility: hidden;
}
.flipped {
    transform: translateX( -100% ) rotateY( -180deg );
}
.path_show{
    box-shadow: 10px 10px 10px #006600;
}
.path_wrong{
    box-shadow: 10px 10px 10px red;
}
.float_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: float-up;
    animation-duration: 5s;
    font-size: 100%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px red;
}
@keyframes float-up {
    0%{
        opacity: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    10%{
        opacity: 1;
        top: 41%;
    }
    80%{
        opacity: 1;
        top: -20%;
    }
    100%{
        opacity: 0;
        top: -40%;
        transform: translate(-50%, -50%) scale(2);
    }
}
#ball img{
    height: 95px;
   width: 95px;
}
#goal_net{
    width: 5%;
    display: inline-block;
    position: absolute;
    top: 82%;
}
#ball{
    position: absolute;
    z-index: +3;
    top: 90px;
    left: 2px;
}